@import url("https://is.gd/D2oZBE");

Color Pallete Template {
  --african-violet: #927ea9ff;
  --melon: #ebadacff;
  --azure: #3a84dfff;
  --folly: #fe4858ff;
  --sapphire: #395ab7ff;
}

#logo {
  width: 60px;
  height: 60px;
}

nav {
  background-color: #f0f4ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;
}

/*Element Slectors*/
body {
  background-image: url("https://www.wur.nl/upload/20abfeca-a315-4c85-9454-f1b1b189ddbe_StudentGUidance.jpg");
  background-position: center 60px;
  background-size: 80% 66%;
  font-family: "cascadia code", sans-serif;
}

h1 {
  color: white;
  text-align: (100% - 50px);
  font-size: 100px;
  padding-left: 2%;
  padding-bottom: 1%;
}

h2 {
  color: #3a84dfff;
  text-align: left;
  padding: 1em;
  padding-top: 0.1em;
}

/*Class Selectors*/

/* PC*/
@media only screen and (min-width: 1281px) {
  /*Id Selectors*/
  header {
    display: grid;
    background-color: green;
    grid-template-columns: 77vw 20vw;
    padding: 1em;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .row img {
    width: 48px;
    height: auto;
  }

  .left {
    text-align: left;
  }

  .left h4 {
    padding: 1em;
    padding-left: 2em;
    padding-right: 1em;
  }

  .right {
    text-align: right;
    grid-column: 2;
  }

  .right h4 {
    padding-left: 5em;
    padding-right: 1em;
  }

  aside {
    display: grid;
    grid-template-rows: 30% 25% 17% 60% 3%;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

  #inbetween {
    text-align: left;
    grid-row: 2;
  }

  #middle {
    grid-row: 3;
    background-color: purple;
    padding: 1em;
    text-align: center;
    column-count: 2;
    column-gap: 2em;
    column-rule: 4px outset black;
  }

  #middle img {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
  }

  #side_text {
    padding-top: 2em;
    font-size: 20px;
  }

  #bottom {
    padding: 1em;
    grid-row: 4;
    background-color: #ebadacff;
    text-align: center;
    column-count: 2;
    column-gap: 1em;
    column-rule: 4px;
  }

  #bottom img {
    padding: 1em;
  }

  #slim {
    display: grid;
    grid-template-columns: 20vw 20vw;
    padding: 1em;
  }

  footer {
    grid-row: 5;
    background-color: lightblue;
    text-align: center;
  }
}

/* Tablet */
@media only screen and (max-width: 1280px) and (min-width: 701px) {
  body {
    background-position: center 65px;
    background-size: 90% 24%;
  }

  h1 {
    font-size: 50px;
  }

  /*Id Selectors*/
  header {
    display: grid;
    background-color: green;
    grid-template-columns: 66vw 30vw;
    padding: 1em;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .row img {
    width: 50px;
    height: auto;
  }

  .left {
    text-align: left;
  }

  .left h4 {
    padding-left: 2em;
    padding-right: 1em;
  }

  .right {
    text-align: right;
    grid-column: 2;
  }

  .right h4 {
    padding-right: 0.5em;
  }

  aside {
    display: grid;
    grid-template-rows: 10% 9% 13% 80% 2%;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

  #inbetween {
    text-align: left;
    grid-row: 2;
  }

  #middle {
    text-align: center;
    font-size: 20px;
    grid-row: 3;
    background-color: purple;
    padding: 1em;
  }

  #middle img {
    width: 12%;
    padding-left: 1em;
    padding-right: 1em;
  }

  #side_text {
    padding-top: 0.5em;
    font-size: 20px;
  }

  #bottom {
    padding: 1em;
    grid-row: 4;
    background-color: #ebadacff;
    text-align: center;
  }

  #bottom img {
    padding: 1em;
    padding-top: 2em;
  }

  #slim {
    display: grid;
    grid-template-columns: 70vw 20vw;
    padding: 1em;
  }

  footer {
    grid-row: 5;
    background-color: lightblue;
    text-align: center;
  }
}

/* Mobile */
@media only screen and (max-width: 700px) {
  body {
    background-size: 80% 20%;
    background-position: center 110px;
  }

  h1 {
    font-size: 50px;
  }

  /*Id Selectors*/
  header {
    display: grid;
    background-color: green;
    grid-template-columns: 93vw;
    grid-template-rows: 20pw 20pw;
    padding: 1em;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .left {
    text-align: left;
    grid-row: 2;
  }

  .left h4 {
    padding: 0.3em;
    padding-left: 2.3em;
    padding-right: 2.5em;
    font-size: 15px;
  }

  .left img {
    width: 30px;
  }

  .right {
    text-align: right;
    grid-row: 1;
  }

  .right img {
    padding-top: 0.5em;
    width: 60px;
  }

  .right h4 {
    padding-right: 1em;
    padding-left: 2em;
    font-size: 30px;
  }

  aside {
    display: grid;
    grid-template-rows: 5% 11% 8% 75% 4%;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

  #inbetween {
    text-align: left;
    grid-row: 2;
  }

  #middle {
    grid-row: 3;
    background-color: purple;
    padding: 1em;
  }

  #middle img {
    width: 0.1px;
  }

  #side_text {
    font-size: 15px;
    text-align: center;
  }

  #bottom {
    padding: 1em;
    grid-row: 4;
    background-color: #ebadacff;
    text-align: center;
    padding-top: 5em;
  }

  #bottom figure {
    width: 0.1px;
  }

  figcaption {
    color: #ebadacff;
  }

  #slim {
    display: flex;
    padding: 1em;
  }

  h3 {
    padding-left: 6.9em;
  }

  footer {
    grid-row: 5;
    background-color: lightblue;
    text-align: center;
    font-size: 20px;
  }
}
/*Universal Selector*/

* {
  margin: 0;
}

/*Combinatory*/

/*Atribute*/

/*Pseudo Selectors, for a state not actual thing*/
